/* Estilos generales */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: white;
}
header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo-container {
  display: flex;
}

.logo-container img {
  height: 6em;
  margin-right: 10px;
}

.header-nav nav a {
  padding: 0.8rem;
  font-weight: 600;
  padding-right: 10px;
  transition: background-color 0.3s ease;
}

nav ul {
  display: flex;
  list-style: none;
}
nav li {
  margin-right: 1rem;
}
nav a:hover {
  background-color: #1b1b1b;
}

.contenedor-fondo1 {
  height: 650px;
  background-image: url(/assets/img/fondo1.1.jpeg);
  background-color: #333;
  background-blend-mode: soft-light;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: baseline;
}

.texto-fondo1 {
  padding: 3.3em;
  display: relative;
  color: #fff;
  vertical-align: sub;
}

.texto-fondo1 h1 {

  max-width: 500px;
  font-size: clamp(1.5em,2vw,2em);
}

.texto-fondo1 h2 {
  padding: 1em;
  max-width: 800px;
  line-height: 1.4;
  font-size: clamp(1em,1vw,5em);
}

.contenedor-fondo2 {
  height: 500px;
  background-image: url(/assets/img/fondo2.1.jpeg);
  background-color: #333;
  background-blend-mode: hard-light;
  background-size: cover;
  background-position: center;
}

.contenedor-fondo3 {
  height: 500px;
  background-image: url(/assets/img/fondo3.1.jpg);
  background-color: #494949;
  background-blend-mode: hard-light;
  background-size: cover;
  background-position: center;
}

.texto-intermedio {
  display: flex;
  color: #fff;
  padding: 10em;
  height: 500px;
  background-color: #1b1b1b;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.texto-intermedio h2 {
  max-width: 50em;
  text-align: center;
  font-size: clamp(0.8em,1vw,2em);
}

.contactanos {
  color: #fff;
  padding: 9vw;
  height: 700px;
  background-color: #1b1b1b;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: clamp(0.5em,1vw,1.8em);
}

#parrafocontactanos {
  max-width: 40em;
}
#divparrafo {
  padding-right: 1.6vw;
}

.contact-form {
  float: right;
  width: clamp(22em,10vw,40em);
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}


.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.form-group textarea {
  height: 150px;
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

button[type="submit"]:hover {
  background-color: rgb(102, 102, 102);
}

footer {
  height: 7em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
}

.footer-left {
  flex: 1;
}
.footer-left h1 {
  padding-left: 2em;
  font-size: clamp(1.9em,1vw,2em);
  
}

.footer-right {
  display: flex;
  padding-right: 2em;
}

.footer-right img {
  margin-left: 5px;
  width: 50px;

}
