/* Estilos generales */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  background-color: black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.logo-container {
  width: 45;
}

.loguito {
  width: 30%;
  height: auto;
}

.header-nav {
  position: absolute;
  right: 0;
  padding: 1.5em;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-right: 1rem;
}

nav a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  color: white;
  font-weight: 700;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #333;
  color: #fff;
}

.contenedor-fondo1 {
  height: 500px;
  background-image: url(/assets/img/fondo1.1.jpeg);
  background-color: #333;
  background-blend-mode: soft-light;
  background-size: cover;
  background-position: center;
  display: absolute;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: left;
}

.texto-fondo1 {
  padding: 3.3em;
  display: relative;
  color: #fff;
  vertical-align: sub;
}

.texto-fondo1 h1 {
  font-size: 4em;
  max-width: 500px;
  font-size: 28px;
}

.texto-fondo1 h2 {
  padding: 1em;
  max-width: 800px;
  line-height: 1.4;
}

.contenedor-fondo2 {
  height: 500px;
  background-image: url(/assets/img/fondo2.1.jpeg);
  background-color: #333;
  background-blend-mode: hard-light;
  background-size: cover;
  background-position: center;
}

.contenedor-fondo3 {
  height: 500px;
  background-image: url(/assets/img/fondo3.1.jpg);
  background-color: #494949;
  background-blend-mode: hard-light;
  background-size: cover;
  background-position: center;
}

.texto-intermedio {
  display: flex;
  color: #fff;
  padding: 10em;
  height: 500px;
  background-color: #1b1b1b;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.texto-intermedio h2 {
  max-width: 800px;
  text-align: center;
}

.contactanos {
  color: #fff;
  padding: 10em;
  height: 700px;
  background-color: #1b1b1b;
  align-items: center;
  justify-content: center;
  text-align: left;
}
#parrafocontactanos {
  max-width: 40em;
}
#divparrafo {
  padding-right: 10em;
}

.contact-form {
  float: right;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}

.contact-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.form-group textarea {
  height: 150px;
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

button[type="submit"]:hover {
  background-color: rgb(102, 102, 102);
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  background-color: #333;
  text-align: center;
  padding: 10px;
}

.footer-left {
  display: flex;
  align-items: center;
  margin-right: 70%;
}

.footer-left h1 {
  padding-left: 3em;
  margin: 0;
}

.footer-right {
  display: flex;
  align-items: center;
  
}

.footer-right img {
  width: 50px;
  height: 50px;
}
